.hero-container .hero-wrapper {
  max-width: 1330px;
  padding: 0;
}

.hero {
  position: relative;
  padding: 0;
  min-height: 300px;
  margin: 0 -55px;
}

.hero > div:nth-child(2) {
  margin-top: 8rem;
    background-color: #fff;
    position: absolute;
    width: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 4rem;
}

.hero > div:nth-child(2) > div {
  padding: 5rem;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 64px;
  margin-top: 0;
}

.hero p:first-of-type {
  font-size: 32px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  width: 100%;
  height: 100%;

  border-top-left-radius: 8rem;
  overflow: hidden;
  max-height: 448px;
  object-fit: cover;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
